.card {
    &__img {
        position: relative;
        display: block;
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 8px;

        &:hover {
            img {
                transform: scale(1.05);
            }
        }

        &:after {
            content: '';
            padding-bottom: 100%;
            display: block;
        }

        img {
            position: absolute;
            object-fit: cover;
            transition: 0.2s ease;
        }
    }

    &__title {
    }
}
